*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btnDiv{
    position: relative;
}
.modalDiv{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 3px 3px grey;
}